{% extends 'ShopBundle::base.html.twig' %}
    
{% block title %}Login{% endblock %}





{% block inhoud %}

	<!--==============================content================================-->
    <section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - January 23, 2012!</div>
        <div class="main">
            <div class="container">
            	{% if error %}

       // <div>{{ error.messageKey|trans(error.messageData) }}</div>
    <div>{{ error.message }}</div>


{% endif %}

<h1> Meld je hier aan om te bestellen: &nbsp;&nbsp; </h1>

<form action="{{ path('login_check') }}" method="post">
    <label for="username">Gebruikersnaam:</label>
    <input type="text" id="username" name="_username" " /> 
    
    {# removed value="{{ last_username }} #}

    
    <label for="password">Wachtwoord:</label>
    <input type="password" id="password" name="_password" />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit">login</button>
</form>

    <figure><img src="{{ asset('images/delivguy.jpeg') }}" alt=""></a></figure>

                
            </div>
        </div>
    </section>
    

{% endblock %}

