<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Home{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('css/layout.css') }}" type="text/css" media="screen"> 
    <link rel="stylesheet" href="{{ asset('css/prettyPhoto.css') }}" type="text/css" media="screen">


  

    <script src="{{ asset ('js/cufon-yui.js') }}" type="text/javascript"></script>
    <script src="{{ asset ('js/cufon-replace.js') }}" type="text/javascript"></script> 
    <script src="{{ asset ('js/Dynalight_400.font.js') }}" type="text/javascript"></script>

</head>

<body id="page3">
    <!--==============================header=================================-->
    <header>
        <div class="row-top">
            <div class="main">
                <div class="wrapper">
                    <h1><a href="index.html">PizzaTai</a></h1>
                    <nav>
                        <ul class="menu">
                            <li><a href="http://pizzatai.dev/app_dev.php/product">Home</a></li>
                            <li><a class="active" href="http://pizzatai.dev/app_dev.php/login">Login</a></li>
                       
                             <li>
                        <img src="{{ asset('images/shopping.gif')}}" alt="" width="24" height="24" class="shopping" />
                    <p>Shopping cart</p> <p><strong>0</strong> <span>items</span></p>
                </li>
                        </ul>
                    </nav>
                </div>

               
            </div>
        </div>
        <div class="row-bot">
            <div class="row-bot-bg">
                <div class="main">
                    <h2>De beste pizza's in Antwerpen Stad</h2>
                </div>
            </div>
        </div>
    </header>


    {% block inhoud %}{% endblock %}


<!--==============================footer=================================-->
    <footer>
        <div class="main">
            <div class="aligncenter">
                <span>Pizzatai.dev &copy; 2015</span>
                <h5>Tai-Wei Ng</h5> 
            </div>
        </div>
    </footer>
</body>
</html>
